$black: #080808;
$black-bis: #1e1f1c;
$black-ter: #272822;
$grey-darker: #414339;

$red: #f92672;
$green: #a6e22e;
$yellow: #f4bf75;
$blue: #66d9ef;
$purple: #ae81ff;
$cyan: #ae81ff;
$turquoise: #2aa198;
$white: #f8f8f2;

@import '../../node_modules/bulma/bulma.sass';

/* The sidebar menu */
.right-sidebar {
  height: calc(
    100% - 50px
  ); /* Full-height: remove this if you want "auto" height */
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 50px; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The sidebar menu */
.left-sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 80px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.top-bar-left {
  position: absolute;
  width: 263px;
  height: 100%;
  left: 0;
  z-index: 2;
  border-bottom: $black-ter 12px solid;
}

.top-bar-right {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 263px;
  z-index: 2;
  border-bottom: $black-bis 12px solid;
}

/* The sidebar menu */
.left-channelbar {
  height: calc(
    100% - 50px
  ); /* Full-height: remove this if you want "auto" height */
  width: 263px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 50px; /* Stay at the top */
  left: 80px;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The top menu */
.top-bar {
  height: 50px; /* Full-height: remove this if you want "auto" height */
  width: calc(100% - 80px); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0px;
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The sidebar menu */
.bottom-bar {
  padding: 20px;
  height: 100px; /* Full-height: remove this if you want "auto" height */
  width: calc(100% - 80px - 263px - 250px); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  bottom: 0; /* Stay at the top */
  right: 250px;
  overflow-x: hidden; /* Disable horizontal scroll */
  // border-top: $black 3px solid;
}

/* The sidebar menu */
.chat-window {
  padding: 20px;
  height: calc(
    100% - 50px - 100px
  ); /* Full-height: remove this if you want "auto" height */
  width: calc(100% - 80px - 263px - 250px); /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 50px; /* Stay at the top */
  right: 250px;
  overflow-x: hidden; /* Disable horizontal scroll */
}

.chat-input-wrapper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.chat-input {
  resize: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  background-color: transparent !important;
  color: $white !important;
  font-size: 1rem;
  line-height: 1.375rem;
  width: 100%;
  height: 100%;
  min-height: 44px;
  padding-left: 0;
  padding-right: 10px;
  outline: none;
}
